.menu-permission-content[data-v-72056965]{padding:10px 0}.custom-tree-node[data-v-72056965]{display:flex;align-items:center;font-size:14px}.dialog-footer[data-v-72056965]{display:flex;justify-content:flex-end;gap:10px}
